[submodule "deps/screen_capture_lite"]
	path = deps/screen_capture_lite
	url = https://github.com/YLiLarry/screen_capture_lite.git
[submodule "deps/gginput"]
	path = deps/gginput
	url = https://github.com/YLiLarry/gginput.git
