[submodule "deps/screen_capture_lite"]
	path = deps/screen_capture_lite
	url = https://github.com/smasherprog/screen_capture_lite.git
[submodule "deps/mingw-w64-crt"]
	path = deps/mingw-w64-crt
	url = https://github.com/kinke/mingw-w64-crt.git
